<!--- Footer --->
<footer>
    <div class="jumbotron jumbotron-fluid p-4 mt-5 mb-0">
        <div class="container">
            <div class="row">

                <div class="col-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="card border-0">
                        <div class="card-body text-center">
                            <h5 class="card-title text-white display-4" style="font-size:30px">Contacts</h5>
                            <a class="text-light d-block lead" style="margin-left: -20px" href="#" (click)="$event.preventDefault();"><i
                                    class="fa fa-phone mr-2"></i>{{"+91 6203915491"}}</a>
                            <a class="text-light d-block lead" href="#" (click)="$event.preventDefault();"><i class="fa fa-envelope mr-2"></i>{{
                                "shekhareful@gmail.com" }}</a>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="card border-0">
                        <div class="card-body text-center">
                            <h5 class="card-title text-white display-4" style="font-size:30px">Social Media</h5>

                            <a class="text-light" href="#" (click)="$event.preventDefault();"><i class="bi bi-facebook fs-3 mx-2 "></i></a>

                            <a class="text-light" href="#" (click)="$event.preventDefault();"><i class="bi bi-whatsapp fs-3 mx-2"></i></a>

                            <a class="text-light" href="#" (click)="$event.preventDefault();"><i class="bi bi-instagram fs-3 mx-2"></i></a>

                            <a class="text-light" href="#" (click)="$event.preventDefault();"><i class="bi bi-globe-americas fs-3 mx-2"></i></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-0">
            <div class="card-body text-light text-center">
                <!-- <h5 class="card-title text-white display-4" style="font-size:30px">First Choice</h5> -->
                <p class="d-inline lead">Copyright © 2026 First choice <br>
                    <a href="#" (click)="$event.preventDefault();" class="text-light d-block lead">Blogs</a>
                </p>

            </div>
        </div>
    </div>
</footer>
<!--# Footer #-->