# ----------------------
# Node dependencies
# ----------------------
node_modules
backend/node_modules
Fc_SmartStock/node_modules

# ----------------------
# Angular build output
# ----------------------
Fc_SmartStock/dist
dist
/tmp
/out-tsc
/.angular/cache

# ----------------------
# Environment variables
# ----------------------
.env

# ----------------------
# Logs
# ----------------------
logs
npm-debug.log
yarn-error.log

# ----------------------
# IDE / Editors
# ----------------------
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea
.project
.classpath
.settings

# ----------------------
# System files
# ----------------------
.DS_Store
Thumbs.db