@if(showEditScreen){

<div class="container-fluid p-3 page-transition-animation">

  <div class="card shadow">

    <div class="card-header">

      <h5 class="mb-0">
        Stock Adjustment
      </h5>

    </div>

    <div class="card-body">

      <form [formGroup]="stockForm">

        <div class="row g-3">

          <div class="col-md-8">

            <label class="form-label">
              Product
            </label>

            <div class="form-control bg-light">
              {{ selectedProduct?.name }}
            </div>

          </div>

          <div class="col-md-4">

            <label class="form-label">
              Current Stock
            </label>

            <div class="form-control bg-light">
              {{ stockForm.get('currentStock')?.value }}
            </div>

          </div>

          <div class="col-12">

            <label class="form-label">
              New Stock
            </label>

            <input type="text" class="form-control" formControlName="newStock">

            @if(stockForm.get('newStock')?.touched){

            @if(stockForm.get('newStock')?.errors?.['required']){
            <div class="text-danger mt-1">
              Stock quantity is required.
            </div>
            }

            @if(stockForm.get('newStock')?.errors?.['min']){
            <div class="text-danger mt-1">
              Stock cannot be negative.
            </div>
            }

            @if(stockForm.get('newStock')?.errors?.['pattern']){
            <div class="text-danger mt-1">
              Only whole numbers are allowed.
            </div>
            }

            }

          </div>

          <div class="col-12">

            <label class="form-label">
              Reason
            </label>

            <textarea rows="3" class="form-control" formControlName="reason">
            </textarea>
            
            @if(stockForm.get('reason')?.errors?.['maxlength']){
            <div class="text-danger mt-1">
              Reason cannot exceed 250 characters.
            </div>
            }

          </div>

        </div>

      </form>

    </div>

    <div class="card-footer text-end">

      <button class="btn btn-secondary me-2" (click)="goBack()">

        <i class="bi bi-caret-left-fill mx-1"></i>Back

      </button>

      <button class="btn btn-success" [disabled]="stockForm.invalid || stockForm.pristine" (click)="saveStockAdjustment()">

        Save <i class="bi bi-floppy-fill mx-1"></i>

      </button>

    </div>

  </div>

</div>

}



@if(!showEditScreen){

<div class="container-fluid p-3 page-transition-animation">

  <div class="card shadow-sm">

    <div class="card-header">

      <h4 class="mb-0">
        Product Stock Management
      </h4>

    </div>

    <div class="card-body">

      <div class="row mb-3">

        <div class="col-md-4">

          <input class="form-control" placeholder="Search Product..." [(ngModel)]="searchText" (input)="search()">

        </div>

      </div>

      <table class="table table-hover table-bordered">

        <thead>

          <tr>

            <th>Product</th>
            <th>Stock</th>
            <th width="120">Action</th>

          </tr>

        </thead>

        <tbody>

          @for(stock of filteredStocks; track stock.id){

          <tr>

            <td>{{stock.name}}</td>


            <td>{{stock.current_stock}}</td>

            <td>

              <button class="btn btn-secondary btn-sm" (click)="editStock(stock)">

                <i class="bi bi-pencil-fill mx-2"></i>Edit

              </button>

            </td>

          </tr>

          }

        </tbody>

      </table>

    </div>

  </div>

</div>

}