<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header">Fc_SmartStock</div>

            <div class="card-body">

                <form [formGroup]="billForm">

                    <div class="top-row">
                        <label class="radio">
                            <input type="radio" formControlName="inhouse" [value]="true">
                            <span>Inhouse</span>
                        </label>

                        <label class="radio">
                            <input type="radio" formControlName="inhouse" [value]="false">
                            <span>Not Inhouse</span>
                        </label>
                    </div>

                    <div class="select-wrap">
                        <select formControlName="clientId">
                            <option [ngValue]="null" disabled>Option</option>
                            <option *ngFor="let c of clients" [value]="c.id">
                                {{ c.name }}
                            </option>
                        </select>
                    </div>

                    <div class="select-wrap" *ngIf="priceLists.length">
                        <select formControlName="priceListId">

                            <option value="">Select Price List</option>

                            <option *ngFor="let p of priceLists" [value]="p.id">
                                {{ p.name }}
                            </option>

                        </select>
                    </div>

                    <div formArrayName="items">
                        <div *ngFor="let group of itemControls; let i = index">
                            <app-product-row [group]="group"></app-product-row>
                        </div>
                    </div>

                    <div class="balance-box">
                        Current Bill: <span class="float-end me-4">₹ {{ totalBillAmount | number:'1.2-2' }}</span>
                    </div>
                    <div class="balance-box" *ngIf="clientDueAmount !== null">
                        Previous Due: <span class="float-end me-4">(₹) {{ clientDueAmount | number:'1.2-2' }}</span>
                    </div>

                    <div>
                        <h1 class="text-center fw-600 fs-20">Grand Total: ₹ {{ grandTotal | number:'1.2-2' }}</h1>
                    </div>

                    <div class="payment-box text-center ">
                        <label class="me-2">Paid Amount</label>
                        <input type="text" formControlName="paidAmount" />
                    </div>

                    <div class="summary-box text-center">
                        <!-- <div>Current Bill: ₹ {{ totalBillAmount | number:'1.2-2' }}</div> -->
                        <!-- <div>Previous Due: ₹ {{ clientDueAmount | number:'1.2-2' }}</div> -->
                        <!-- <div><strong>Grand Total: ₹ {{ grandTotal | number:'1.2-2' }}</strong></div> -->
                        <div>Remaining Balance: ₹ {{ remainingBalance | number:'1.2-2' }}</div>
                    </div>

                    <div class="actions my-2">
                        <button class="generate" [disabled]="billForm.invalid" (click)="saveOrUpdateBill()">
                            {{ isEditMode ? 'Update Bill' : 'Generate' }}
                        </button>
                    </div>

                    <div class="actions my-2">
                        <button class="generate" [disabled]="billForm.invalid" (click)="resetForm()">
                            {{ 'Cancel' }}
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="recent">
            <h3>Recently Generated Bills</h3>
            <div class="bills">
                <div *ngFor="let b of bills; let idx = index" class="bill-card" [ngClass]="'c'+(idx % 4 + 1)">
                    <div class="bill-title">{{ b.clientName }}
                        <div class="bill-actions">
                            <i class="bi bi-eye-fill mx-2 clickable-icon" (click)="viewBill(b.id)"></i>
                            <i class="bi bi-pencil-square clickable-icon" (click)="editBill(b)"></i>
                        </div>
                    </div>
                    <div class="bill-title bill-sub">
                        Total: ₹ {{ b.total | number:'1.2-2' }}
                        <span class="badge text-bg-dark paid-amount">₹ {{ b.paidAmount }}</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>