<button
  type="button"
  class="btn btn-secondary fw-bold m-3"
  (click)="goBack()">
   ← Back
</button>

@if (bill) {
<fieldset class="bill-fieldset">
    <legend>
        Bill #{{ bill.id }} - {{ bill.is_active ? 'Current' : 'Version ' + bill.version_number }}
    </legend>

    <div class="bill-header">

        <div>
            <strong>Client:</strong>
            {{ bill.clientName }}
        </div>

        <div>
            <strong>Price List:</strong>
            {{ bill.priceListId }}
        </div>

        <div>
            <strong>Status:</strong>
            {{ bill.payment_status }}
        </div>

        <div>
            <strong>Date:</strong>
            {{ bill.createdAt | date:'dd/MM/yyyy hh:mm a' }}
        </div>

    </div>

    <hr>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Product</th>
                <th>Qty</th>
                <th>Rate</th>
                <th>Total</th>
            </tr>
        </thead>

        <tbody>

            @for(item of billItems;track item.productId) {

            <tr>
                <td>{{ item.productName }}</td>
                <td>{{ item.qty }}</td>
                <td>₹ {{ item.unitPrice }}</td>
                <td>₹ {{ item.total }}</td>
            </tr>

            }

        </tbody>
    </table>

    <div class="bill-summary px-3">

        <p>
            <strong>Previous Amount:</strong>
            ₹ {{ bill.previousAmount }}
        </p>

        <p>
            <strong class="paid-amount p-2">Paid Amount: ₹ {{ bill.paidAmount }}</strong>
            
        </p>

        <p>
            <strong>Grand Total:</strong>
            ₹ {{ bill.total }}
        </p>

    </div>

</fieldset>
}

<fieldset class="bill-fieldset">
    <legend>Version History</legend>

    <table class="table table-bordered text-center">

        <thead>
            <tr>
                <th>Version</th>
                <th>Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>

            @for(version of history; track version.id) {
            <tr>

                <td>
                    {{ version.version_number }}
                </td>

                <td>
                    {{ version.createdAt | date:'dd/MM/yyyy HH:mm' }}
                </td>

                <td>

                    @if(version.is_active) {
                    <span class="badge bg-success">
                        Current
                    </span>
                    } @else {
                    <span class="badge bg-secondary text-white">
                        Version {{ version.version_number }}
                    </span>
                    }
                </td>

                <td>
                    <i class="bi bi-eye-fill mx-2 clickable-icon" (click)="loadBillVersion(version.id)"></i>
                </td>

            </tr>
            }
        </tbody>

    </table>
</fieldset>