:host {
  display: block;
}

.row {
  display: grid;
  grid-template-columns: 1fr 220px 160px 140px;
  align-items: center;
  padding: 18px 12px;
  border-bottom: 1px solid #eff5f6;
}

.cell {
    position: relative;
  font-weight: 600;
  color: #0f2b2e;
}

.product-name {
  padding-left: 6px;
}

.qty-cell,
.price-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.step {
  width: 36px;
  height: 36px;
  border-radius: 6px;
  border: 1px solid #cbd7d9;
  background: #f7fafb;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
}

.value {
  min-width: 48px;
  text-align: center;
  font-weight: 600;
  background: white;
  border-radius: 4px;
  padding: 8px 6px;
  border: 1px solid #eaefef;
}

.total-cell {
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
}

@media (max-width: 520px) {
  .row {
    grid-template-columns: 1fr;
    // gap: 6px;
  }

  .cell product-name{
    font-size: 1rem;
  }

  .cell .value{
    height: 2rem;
  }

  .cell .step{
    width: 2rem;
    height: 2rem;
  }
}

.price-label {
  position: absolute;
  top: 16%;
  transform: translateY(21%);
  left: 68%;
  opacity: 50%;
  background: #dfd9d9;
  height: 52%;
  width: 9%;
  color: #0f0e0e;
  margin: auto;
  text-align: center;
}

.product-index{
  padding: 6px;
  border-radius: 40px;
  background: #e3e5e4;
}
